* {
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix {
    clear: both;
}

.noselect {
    user-select: none;
}

button, input {
    outline: none;
}


$padding: 20px;


#main-container {
    height: 100%;
    overflow: hidden;
}


// Sections
#sections {
    position: relative;
    height: calc(100% - #{$padding * 2});
    width: calc(100% - #{$padding * 2});
    top: $padding;
    left: $padding;
    overflow: hidden;

    .section {
        position: absolute;
        height: 100%;
        width: 100%;
        display: none;
        overflow: hidden;

        video {
            min-height: 100%;
            min-width: 100%;
        }

        .next-page-btn {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            height: 20px;
            width: 30px;
            background-size: 100% 100%;
            background-image: url(../res/svg/next-page.svg);

            &:hover {
                cursor: pointer;
            }
        }
    }



    // Section 1
    #section-1 {
        display: block;

        #text-title {
            text-align: center;
            white-space: nowrap;
            color: white;

            h1 {
                margin-top: 10px;
                font-size: 3em;
            }
        }
    }



    // Section 2
    #section-2 {
        background: #00bf8f; /* fallback for old browsers */
        background: linear-gradient(to left, #00bf8f , #001510);
        background: radial-gradient(circle at 1.98% 51.98%, #085078, transparent 100%),radial-gradient(circle at 98.02% 65.01%, #85D8CE, transparent 100%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);


        #content-left, #content-right {
            float: left;
            height: 100%;
            position: relative;
        }


        // left
        #content-left {
            width: 60%;

            // scroll thing
            #scroll-items {
                height: 70%;
                width: 80%;

                .scroll-arrow-container {
                    position: relative;
                    float: left;
                    width: 40px;
                    height: 100%;
                }

                #scroll-arrow-left-btn, #scroll-arrow-right-btn {
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    height: 25px;
                    width: 25px;
                    cursor: pointer;

                    &:active {
                        transform: translate(-50%, -50%) scale(0.9);
                    }
                }

                #scroll-arrow-left-btn {
                    background-image: url(../res/svg/arrow-left.svg);
                }

                #scroll-arrow-right-btn {
                    background-image: url(../res/svg/arrow-right.svg);
                }

                // images
                #scroll-main {
                    float: left;
                    width: calc(100% - 80px);
                    height: 100%;
                    position: relative;

                    > img {
                        max-height: 90%;
                        max-width: 90%;
                    }
                }
            }
        }


        // right
        #content-right {
            width: 40%;

            // text & button
            #text-2-1 {
                text-align: center;
                transform: translateX(-70%);

                p {
                    color: white;
                }

                button {
                    border: 2px solid white;
                    padding: 10px 20px;
                    color: white;
                    background-color: transparent;
                    margin-top: 20px;

                    &:hover {
                        border-radius: 5px;
                    }
                }
            }
        }

    }



    // Section 3
    #section-3 {
        #text-3-1, #text-3-2 {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            padding: 20px;
            top: 17%;
            right: 10%;

            p {
                padding-bottom: 5px;
            }

            p:last-of-type {
                padding-bottom: 0;
            }
        }



        #text-3-2 {
            font-size: 0.9em;
            padding: 10px;
            top: calc(17% + 90px);
        }
    }



    // Section 4
    #section-4 {
        background: #1A2980; /* fallback for old browsers */
        background: linear-gradient(to left, #1A2980 , #26D0CE);
        text-align: center;

        h2 {
            color: white;
            margin-bottom: 15px;
        }

        p {
            color: white;
            padding-bottom: 20px;
        }

        .label-input {
            label {
                color: white;
                margin-right: 15px;
            }

            input {
                height: 40px;
                border: 0;
                width: 250px;
                padding: 0 10px;
                font-size: 1.1em;
                letter-spacing: 3px;
            }
        }

        .button-group {
            margin-top: 15px;
            white-space: nowrap;
        }

        button {
            border: 2px solid white;
            padding: 10px 20px;
            color: white;
            background-color: transparent;
            margin-top: 20px;
            width: 180px;
            margin: 5px;

            &:hover {
                border-radius: 5px;
            }
        }
    }
}






// Overlay (shows during section transitions)
#overlay {
    background-color: white;
    position: fixed;
    top: $padding;
    left: $padding;
    height: 0;
    width: calc(100% - #{$padding * 2});
}







// Section navigation
#section-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    list-style: none;

    > li {
        margin: 5px;
        width: 50px;

        > a {
            display: block;
            padding: 5px;
            width: 100%;
            color: white;
            text-decoration: none;

            &:visited {
                color: white;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .active-item {
        background-color: rgba(0, 0, 0, 0.4);
    }
}









// Nav menu button background (triangle)
#nav-menu-btn-background {
    position: fixed;
    top: $padding;
    right: $padding;
    width: 0;
    height: 0;
    border-top: 100px solid rgba(0, 0, 0, 0.5);
    border-left: 100px solid transparent;
}


// Nav menu buttons
#nav-menu-btn-open, #nav-menu-btn-close {
    position: fixed;
    height: 25px;
    width: 25px;
    top: 35px;
    right: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../res/svg/nav-btn-open.svg);

    &:hover {
        cursor: pointer;
    }
}


// Nav menu
#nav-menu-background {
    position: fixed;
    height: calc(100% - #{$padding * 2});
    width: calc(100% - #{$padding * 2});
    top: $padding;
    left: $padding;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: all;
    background-image: url(../res/images/fabric-1-dark.png);
    opacity: 0;
    display: none;
    backface-visibility: hidden;
}

#nav-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(100% - #{$padding * 2});
    height: 55px;
    display: none;
    backface-visibility: hidden;
    text-align: center;

    .nav-menu-part {
        position: absolute;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transform: scale(0, 0);
        backface-visibility: hidden;
    }

    #nav-menu-1 {
        background-image: url(../res/svg/nav-menu-1.svg);
        width: 100%;
    }

    #nav-menu-2 {
        background-image: url(../res/svg/nav-menu-2.svg);
        width: 50%;
    }

    #nav-menu-3 {
        background-image: url(res/svg/nav-menu-3.svg);
        width: 50%;
        right: 0;
    }

    #nav-menu-btn-close {
        background-image: url(../res/svg/nav-btn-close.svg);
        transform: scale(0, 0);
    }

    #nav-menu-links {
        display: inline-block;
        white-space: nowrap;

        .nav-menu-link {
            line-height: 55px;
            color: white;
            text-decoration: none;
            position: relative;
            top: -80px;
            opacity: 0;

            &:not(:first-child):not(:last-child) {
                margin: 0 80px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}






// temporary responsive overlay
#responsive {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;

    p {
        padding-top: 30px;
    }
}



// Responsive
@media screen and (max-width: 740px) {
    #main-container {
        display: none !important;
    }

    #responsive {
        display: block;
    }
}
